%div.no.filter-results
  %div.message=builder.table_options[:empty_filter]
  %div.buttonsBar
    =link_to(builder.config.translate('no_rows_filter.clear_filter'), 'javascript:;', :class => 'button3 grey clearFilter')
